---
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Learn more about Renan Roble"
	pubDate={new Date('November 02 2025')}
	heroImage={AboutHeroImage}
>
	<p>
		This page is under construction. Check back soon to learn more about my journey as a 
		Senior Software Engineer, my creative work in art and photography, and life as a twin dad.
	</p>

	<p>
		<strong>More details coming soon!</strong>
	</p>
</Layout>
