---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>👋 Hi, I'm Renan Roble</h1>
			<p>
				This site is under construction where I'll be sharing insights on software development, 
				creative projects, and life as a twin dad.
			</p>
			<p>
				<strong>Stay tuned!</strong>
			</p>
		</main>
		<Footer />
	</body>
</html>
